version: '3.8'

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: skolni_mssql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Heslo123!
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
